body{
    max-width: 100vh;
    margin: 0 auto;
}
.div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    width: 100%;
    padding: 10px
}
button{
    padding: 10px 20px;
}