body{
    max-width: 100vw;
}
.top1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.637);
}
.hr{
    border: 1px solid #d81b4194;
}
.title{
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 190px;
}
.about{
    display: flex;
    align-items: center;
    gap: 15px;
}
.top{
    display: flex;
    align-items: end;
    gap: 15px;
    padding: 20px 50px;
    background-color: #d81b41;
}
.icons{
    padding: 25px 50px;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
}
.top h5{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.top h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
}
.about div{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.right1{
    padding-bottom: 20px;
}
.artist{
    border-radius: 150px;
}
li{
    list-style: none;
}
.artist{
    display: flex;
    flex-direction: row;
}

.top{
    padding-bottom: 30px;
}
.li{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.songs{
    margin: 0;
    padding: 0 50px;
}
.flex0{
    display: flex;
    align-items: center;
    gap: 50px;
    width: 200px;
}
svg{
    height: 40px;
    width: 40px
}
.playSvg{
    width: 50px;
    height: 50px;
}
.cover{
    box-shadow: 2px 2px 20px rgb(39, 39, 39);
}
.bottom{
    background: linear-gradient(to top,#000000,#080103,#1d0408,#3f0912, #c4193b);
}
